# Research
SEMANTIC_SCHOLAR_API_KEY=

# Generative AI & Media
TOGETHER_API_KEY=
STABILITY_API_KEY=
ELEVENLABS_API_KEY=

# Developer Tools
VERCEL_TOKEN=
WAKATIME_API_KEY=
STACK_APPS_KEY=

# Search
TAVILY_API_KEY=

# Productivity
NOTION_API_KEY=
NOTION_DATABASE_ID=
